@mixin font($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin fontMobile($fs: 14px, $fw: 400, $lh: 1.28) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin fontTableAndDesktop($fs: 16px, $fw: 400, $lh: 1.5) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin hover {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
