.logo-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 36px;
  height: 13px;
  fill: inherit;
}

.logo-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.16;
}
